In [2]:
import pandas as pd
import os   #import是每次开文档都要重新写的
#os查看文件、路径等等，标准库

In [3]:
print('Hello')

Hello

In [4]:
os.getcwd()
# os.chdir('directory path')

'/Users/eloisefeng/Desktop/NU/Data Management'

In [5]:
# sample read.csv file code
pd.read_csv('/Users/eloisefeng/Desktop/NU/Data Management/iris.csv')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
#assign a data frame called irisdata
irisdata = pd.read_csv('/Users/eloisefeng/Desktop/NU/Data Management/iris.csv')

#display the fields and structure within a defined data frame
irisdata.info()  #查看数据表格的行列属性

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
irisdata.head(5)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
len(irisdata)    #表格行数，等同于count(*)

150

In [9]:
# display all the data related to iris flowers that are of virginica species and also have Sepal.Length greater than 7.0
irisdata.loc[(irisdata['Species'] == 'virginica') & (irisdata['Sepal.Length'] > 7.0)]
#.loc[row,column]
#.loc[:,:]等同于select *
#例如irisdata.loc[irisdata[‘species’] == ‘virginica’] 等同于select species from irisdata where species = ‘virginica’
#在筛选选列或者对筛选结果赋值的时候必须要加，语义更清楚
#外层的irisdata是告诉pandas要从哪个表里取行，内层的irisdata是用这个表来生成筛选条件

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [10]:
# display rows with Species "setosa"
irisdata.loc[irisdata['Species'].str.startswith('set')]

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [11]:
# display rows with Species "versicolor"
irisdata.loc[irisdata['Species'].str.endswith('color')]

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [12]:
# I just want Petal Length and Petal Width
irisdata.loc[:,['Petal.Length', 'Petal.Width']].head(5)
#此处是按照loc[行索引,列索引]来写的，所以Python知道此处的名称为列名，故不需要加内层的irisdata

   Petal.Length  Petal.Width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2

In [ ]:
# I want to give my own names to the columns
irisdata.loc[:, ['Petal.Length', 'Petal.Width']].rename(columns={'Petal.Length': 'PLeng', 'Petal.Width': 'PWid'})
#()调用函数，传参数
#[]索引，取子集
#{}字典，映射

# 最好写成irisdata_renamed = irisdata.rename(columns = {'petal_length': 'PLeng', 'petal_width': 'PWidth'})
# 此种写法会将改名的内容保存在一个新的副本里
# 如果是在原数据里改，则可以在()内的最后面加上inplace = True，但这种写法后面将无法加链式（例如加上.head()），因为rename(..., inplace=True)返回的是None

     PLeng  PWid
0      1.4   0.2
1      1.4   0.2
2      1.3   0.2
3      1.5   0.2
4      1.4   0.2
..     ...   ...
145    5.2   2.3
146    5.0   1.9
147    5.2   2.0
148    5.4   2.3
149    5.1   1.8

[150 rows x 2 columns]

In [16]:
# I want to know unique species of iris flower
irisdata['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [17]:
# Let's sort Petal Length in descending order
iris_renamed = irisdata.rename(columns={'Petal.Length': 'PLeng'})
iris_renamed.sort_values(by='PLeng', ascending=False).head(25)
#不写ascending=False时默认按ascending排序，ascending=False表示按descending排序
#如果需要按两列排序，则写irisdata.sort_values(by = ['Petal.Length', 'Petal.Width'])

     Sepal.Length  Sepal.Width  PLeng  Petal.Width    Species
118           7.7          2.6    6.9          2.3  virginica
122           7.7          2.8    6.7          2.0  virginica
117           7.7          3.8    6.7          2.2  virginica
105           7.6          3.0    6.6          2.1  virginica
131           7.9          3.8    6.4          2.0  virginica
107           7.3          2.9    6.3          1.8  virginica
130           7.4          2.8    6.1          1.9  virginica
109           7.2          3.6    6.1          2.5  virginica
135           7.7          3.0    6.1          2.3  virginica
100           6.3          3.3    6.0          2.5  virginica
125           7.2          3.2    6.0          1.8  virginica
102           7.1          3.0    5.9          2.1  virginica
143           6.8          3.2    5.9          2.3  virginica
129           7.2          3.0    5.8          1.6  virginica
108           6.7          2.5    5.8          1.8  virginica
104           6.5          3.0    5.8          2.2  virginica
124           6.7          3.3    5.7          2.1  virginica
144           6.7          3.3    5.7          2.5  virginica
120           6.9          3.2    5.7          2.3  virginica
132           6.4          2.8    5.6          2.2  virginica
140           6.7          3.1    5.6          2.4  virginica
103           6.3          2.9    5.6          1.8  virginica
128           6.4          2.8    5.6          2.1  virginica
134           6.1          2.6    5.6          1.4  virginica
136           6.3          3.4    5.6          2.4  virginica

In [18]:
#create new columns and perform calculations
iris_renamed = irisdata.rename(columns={'Petal.Length': 'length', 'Petal.Width': 'width'})
iris_renamed['ratio'] = iris_renamed['length'] / iris_renamed['width']
iris_renamed.sort_values(by=['length', 'width'], ascending=False).head(25)

     Sepal.Length  Sepal.Width  length  width    Species     ratio
118           7.7          2.6     6.9    2.3  virginica  3.000000
117           7.7          3.8     6.7    2.2  virginica  3.045455
122           7.7          2.8     6.7    2.0  virginica  3.350000
105           7.6          3.0     6.6    2.1  virginica  3.142857
131           7.9          3.8     6.4    2.0  virginica  3.200000
107           7.3          2.9     6.3    1.8  virginica  3.500000
109           7.2          3.6     6.1    2.5  virginica  2.440000
135           7.7          3.0     6.1    2.3  virginica  2.652174
130           7.4          2.8     6.1    1.9  virginica  3.210526
100           6.3          3.3     6.0    2.5  virginica  2.400000
125           7.2          3.2     6.0    1.8  virginica  3.333333
143           6.8          3.2     5.9    2.3  virginica  2.565217
102           7.1          3.0     5.9    2.1  virginica  2.809524
104           6.5          3.0     5.8    2.2  virginica  2.636364
108           6.7          2.5     5.8    1.8  virginica  3.222222
129           7.2          3.0     5.8    1.6  virginica  3.625000
144           6.7          3.3     5.7    2.5  virginica  2.280000
120           6.9          3.2     5.7    2.3  virginica  2.478261
124           6.7          3.3     5.7    2.1  virginica  2.714286
136           6.3          3.4     5.6    2.4  virginica  2.333333
140           6.7          3.1     5.6    2.4  virginica  2.333333
132           6.4          2.8     5.6    2.2  virginica  2.545455
128           6.4          2.8     5.6    2.1  virginica  2.666667
103           6.3          2.9     5.6    1.8  virginica  3.111111
134           6.1          2.6     5.6    1.4  virginica  4.000000

In [ ]:
# Your Turn
# Orion Employee Payroll Caselet
# Overall objective is to produce a report that contains the employee identifier, gender, and salary for all Orion Star employees. The data is contained in the
# Employee_Payroll table, a table with which you are not familiar.

# 1. Download the employee_payroll.csv file from Canvas and place in your working directory. Assign the file to a data frame called "employee_payroll"
employee_payroll = pd.read_csv('/Users/eloisefeng/Desktop/NU/Data Management/Employee_Payroll2.csv')

In [20]:
# 2. Determine the column names in the Employee Payroll file
employee_payroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         424 non-null    int64
 1   Employee_Gender     424 non-null    object
 2   Salary              424 non-null    int64
 3   Birth_Date          424 non-null    object
 4   Employee_Hire_Date  424 non-null    object
 5   Employee_Term_Date  424 non-null    object
 6   Marital_Status      424 non-null    object
 7   Dependents          424 non-null    int64
dtypes: int64(3), object(5)
memory usage: 26.6+ KB

In [21]:
# 3. Run a report to show the female employees, with the ID, gender, and salary, sorted by descending salary
employee_payroll.loc[employee_payroll['Employee_Gender'] == 'F', ['Employee_ID', 'Employee_Gender', 'Salary']].sort_values(by = 'Salary', ascending = False)

     Employee_ID Employee_Gender  Salary
99        120260               F  207885
169       120719               F   87420
125       120661               F   85495
419       121144               F   83505
248       120798               F   80755
..           ...             ...     ...
84        120185               F   25080
395       121120               F   25020
94        120195               F   24990
95        120196               F   24025
90        120191               F   24015

[191 rows x 3 columns]

In [22]:
# 4. At the end of the year, Orion would like to give the employees a 10% bonus. Run a report that shows the employee ID,
#salary and what their bonus amount would be
employee_payroll['Bonus'] = employee_payroll['Salary'] * 0.1
employee_payroll.loc[:, ['Employee_ID', 'Salary', 'Bonus']]

     Employee_ID  Salary    Bonus
0         120101  163040  16304.0
1         120102  108255  10825.5
2         120103   87975   8797.5
3         120104   46230   4623.0
4         120105   27110   2711.0
..           ...     ...      ...
419       121144   83505   8350.5
420       121145   84260   8426.0
421       121146   29320   2932.0
422       121147   29145   2914.5
423       121148   52930   5293.0

[424 rows x 3 columns]

In [23]:
# 5. Run a report to show the male employees with a salary over $35,000, with the ID, gender, and salary, sorted by descending salary
employee_payroll.loc[(employee_payroll['Employee_Gender'] == 'M') & (employee_payroll['Salary']>35000), ['Employee_ID', 'Employee_Gender', 'Salary']].sort_values(by= 'Salary', ascending=False)

     Employee_ID Employee_Gender  Salary
98        120259               M  433800
101       120262               M  268455
100       120261               M  243190
416       121141               M  194885
0         120101               M  163040
..           ...             ...     ...
57        120158               M   36605
133       120669               M   36370
209       120759               M   36230
338       121063               M   35990
182       120732               M   35870

[62 rows x 3 columns]

In [24]:
# 6. After more discussion, Orion is changing the bonus scheme to be a straight $5,000 amount. Run a report that shows the employee ID, salary and
#what their bonus amount would be, and the salary + bonus amount
employee_payroll['Bonus'] = 5000
employee_payroll['Earnings'] = employee_payroll['Bonus'] + employee_payroll['Salary']
employee_payroll.loc[:, ['Employee_ID', 'Salary', 'Bonus', 'Earnings']]

     Employee_ID  Salary  Bonus  Earnings
0         120101  163040   5000    168040
1         120102  108255   5000    113255
2         120103   87975   5000     92975
3         120104   46230   5000     51230
4         120105   27110   5000     32110
..           ...     ...    ...       ...
419       121144   83505   5000     88505
420       121145   84260   5000     89260
421       121146   29320   5000     34320
422       121147   29145   5000     34145
423       121148   52930   5000     57930

[424 rows x 4 columns]